# Merge artifacts
*.orig
build/
xbuild/
_res/
.venv/
.pytest_cache/

# Python bytecode
**/__pycache__/
lightning_logs/

# Graph database files
doc/
# docs/architecture/
docs/work_reports/
# GoG/    
result/
results/
graphs/
dataset/test/

# test folders
# test_01/
# test_02/
# test_03/

# intermediate data files
*.csv

# Text files
*.txt 
*.log
*.png 

# notes.
Crypto-GoG_on_DL_notes.txt
